.simple-form {
  width: 500px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 30px;

  h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    margin-left: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    width: 95%;
    padding: 10px;
    margin-left: 12px;
    background: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: #1e4fcc;
    }
  }
}
