.results-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;

  .gauge-section {
    text-align: center;
    margin-bottom: 30px;
  }

  .cards-row {
    display: flex;
    gap: 20px;
    margin: 30px 0;
  }

  .recalc {
    background: #ef4444;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
}

.gauge {
  width: 260px;
  height: 130px;
  margin: auto;
  background: linear-gradient(#4ade80, #facc15, #ef4444);
  border-radius: 150px 150px 0 0;
  position: relative;
}

.needle {
  width: 2px;
  height: 130px;
  background: black;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: bottom;
}
